$border_color: #e4e8ed;
$color__accent: #34D7A1;
$color__accent2: #617BE5;
$text_color: #5c6b79;

footer.site-footer {
	border-top: 1px solid $border_color;
	background-color: #fff;
	padding: 34px 0;
	
	.site-info {
		font-size: 14px;
		color: $text_color;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.crocoblock-social-list {
			justify-content: flex-end;
		}
	}

	@media ( max-width: 940px ) {
		.site-info {
			flex-direction: column;
			justify-content: center;
			text-align: center;

			div.crocoblock-social-list {
				&__item {
					margin: 0 0 0 16px;
				}
			}
		}
	}
}